<like-widget>
	<div class="like-or-dislike" data-bind="visible: !value()">
        <button data-bind="click: likeStatus.bind($component, Statuses.LIKE)">Like it</button>
        <button data-bind="click: likeStatus.bind($component, Statuses.DISLIKE)">Dislike it</button>
    </div>
    <comment data-bind="click: function(){ comment('Nested strings \'work\' ok!')}">
    	<p data-bind="text: commentary()"></p>
    </comment>
    <div class="result" data-bind="visible: value">
        You <strong data-bind="text: value"></strong> it
    </div>
</like-widget>